body {
  background-color: lightgrey;
}

nav {
  background-color: gainsboro;
  padding: 10px;
}

a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: firebrick;
}

p {
  font-size: 22px;
}

h2 {
  color: firebrick;
}

.button1 {
  background-color: firebrick; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.header {
  color:firebrick;
}
