<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/style.css">
    <title>Our Members</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">OCFR App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dataentrymembers.html">View Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certifications.html">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Member Reports</a>
          </li>
        </ul>
      </div>
    </nav>

    <title>New Certification</title>
  </head>

  <body>


      <div class="row" id="ocfrPage">
      <div id="card shadow mb-4" id="ocfrPage">
          <div class="card-header py-3">

            <a href="dataentrycertificationsCreate.html">
              <h5 class="btn btn-danger"> Add New Certification</h5>
            </a>
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable, ocfrPage">
              <thead>
                <tr>
                  <th> Certification ID </th>
                  <th> Certification Name </th>
                  <th> Agency </th>
                  <th> Expiration Date </th>
                </tr>
              </thead>
              <tbody id="ocfrPage" v-for"c in certList">
                <tr>
                  <td>{{ c.CertificationID }}</td>
                  <td>{{ c.certAgency }}</td>
                  <td>{{ c.certName }}</td>
                  <td>{{ c.expirationDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
          <!-- <form method="post" v-on:submit.prevent="handleNewcertForm">
            <h3>Certification  View</h3>
            <h3>Create New Member Certification Record</h3>

            <div class="form-group">
            <label for="newcertFirstName">First Name</label>
            <input type="text" v-model="newcertForm.firstName" class="form-control" id="newcertFirstName" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="newcertLastName">Last Name</label>
            <input type="text" v-model="newcertForm.lastName" class="form-control" id="newcertLastName" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="newcertDob">DOB</label>
            <input type="text" v-model="newcertForm.dob" class="form-control" id="newcertDob" placeholder="2020-01-02">
          </div>
          <div class="form-group">
            <label for="newcertSexAtBirth">Sex at Birth</label>
            <select class="form-control" v-model="newcertForm.sexAtBirth" id="newcertSexAtBirth">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other/Unknown</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>

          </form>

          <h3>List of all Certifications</h3>

          <div class="patientCard" v-for="cert in certList" >
            <!-- #v-on:click="activecert = cert" -->

            <!-- <span class="lastName">{{ cert.CertificationID }}</span>
            <span class="lastName">{{ cert.certAgency }}</span>
            <span class="lastName">{{ cert.certificationName }}</span>
            <span class="lastName">{{ cert.expirationDate }}</span>

          </div>
        </div>
      </div>
    </div> -->


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/cert_index.app.js"></script>
    </body>
  </html>
