<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/style.css">

    <title>Our Members</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">OCFR App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members.html">View Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certifications.html">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Member Reports</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
        <div id="members">
          <form method="post" id="newMemberForm" v-on:submit.prevent="handleNewMemberForm">
            <h3>Member View</h3>

            <div class="form-group">
            <label for="newMemberFirstName">First Name</label>
            <input type="text" v-model="newMemberForm.firstName" class="form-control" id="newMemberFirstName" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="newMemberLastName">Last Name</label>
            <input type="text" v-model="newMemberForm.lastName" class="form-control" id="newMemberLastName" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="newMemberStationNum">Station Number</label>
            <input type="number" v-model="newMemberForm.stationNum" class="form-control" id="newMemberStationNum" placeholder="10">
          </div>
          <div class="form-group">
            <label for="NewMemberRadioNum">Radio Number</label>
            <input type="text" v-model="newMemberForm.radioNum" id="newMemberRadioNum" placeholder="#b10">
          </div>
          <button type="submit" class="btn btn-primary" id ="submitNewMember">Create</button>

          </form>

          <h3>List of all Members</h3>


          <div class="" v-for="pt in ptList" v-on:click="activePt = pt">

            <span class="lastName">{{ pt.last_name }}</span>,
            <span clas="firstName">{{ pt.first_name }}</span>
            <span class="birthDate float-right">{{ pt.Gender }}</span>
            <span class="birthDate float-right">{{ pt.DOB}}</span>
            <span class="birthDate float-right">{{ pt.Address }}</span>
            <span class="birthDate float-right">{{ pt.Email }}</span>
            <span class="birthDate float-right">{{ pt.radioNum }}</span>
            <span class="birthDate float-right">{{ pt.Position }}</span>
            <span class="birthDate float-right">{{ pt.isactive }}</span>
            <span class="birthDate float-right">{{ pt.Start_Date }}</span>
          </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/index.app.js"></script>
    </body>
  </html>
