<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/style.css">

    <title>Our Members</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">OCFR App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members.html">View Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certifications.html">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Member Reports</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <h3>Member View</h3>
        <div id="members">
          <form method="post" id="newMemberForm" v-on:submit.prevent="handleNewMemberForm">
            <div class="form-group">
              <label for="newMemberFirstName">First Name</label>
              <input type="text" v-model="newMemberForm.firstName" class="form-control" id="newMemberFirstName" placeholder="Jane">
            </div>
            <div class="form-group">
              <label for="newMemberLastName">Last Name</label>
              <input type="text" v-model="newMemberForm.lastName" class="form-control" id="newMemberLastName" placeholder="Doe">
            </div>
            <div class="form-group">
              <label for="newMemberStationNum">Station Number</label>
              <input type="number" v-model="newMemberForm.stationNum" class="form-control" id="newMemberStationNum" placeholder="10">
            </div>
            <div class="form-group">
              <label for="NewMemberRadioNum">Radio Number</label>
              <input type="text" v-model="newMemberForm.radioNum" id="newMemberRadioNum" placeholder="#b10">
            </div>
            <div class="form-group">
              <label for="NewMemberIsActive">Is Active?</label>
              <input type="radio" v-model="newMemberForm.isActive" id="Yes" value ="Yes">
              <label for "Yes"> Yes </label>
              <input type="radio" v-model="newMemberForm.isActive" id="No" value ="No">
              <label for "No"> No </label>
            </div>
            <button type="submit" class="btn btn-primary" id ="submitNewMember">Create</button>

          </form>

          <h3>List of all Members</h3>
          <table class="memberTable" id="memberTable">
            <thead>
              <tr data-sort-method="thead">
                  <th> First Name </th>
                  <th> Last Name </th>
                  <th> Station Number </th>
                  <th> Radio Number </th>
                  <th> Active </th>
              </tr>
            </thead>
            <tbody = id"memberTableBody" v-for" member in memberList">
              <tr>
                <td class ="firstName"> First Name: {{member.firstName}}</td>
                <td class="lastName"> Last Name: {{member.lastName}}</td>
                <td class ="stationNum"> Station Number: {{member.stationNum}}</td>
                <td class ="radioNum"> Radio Number: {{member.radioNum}}</td>
                <td class="isActive"> Is Active: {{member.isActive}}</td>
              </tr>
            </tbody>
          </table>

          </div>
        </main>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/index.app.js"></script>
  <script src="js/fetchmember.js"></script>
    </body>
  </html>
